.addPart {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 15rem;
}

.addPart__title {
  font-size: 3rem;
  border-bottom: solid;
  border-color: var(--green);
  margin: 2rem 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

@media screen and (width < 600px) {
  .addPart {
    margin: 0 1rem;
  }

  .addPart__title {
    font-size: 1.7rem;
    margin: 1rem 0;
  }
}
