.processor__formAdd {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  border: solid;
  border-color: var(--green);
  border-width: 0.2rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
  align-items: center;
  width: 60%;
}

.formAdd__title {
  grid-area: title;
  border-bottom: solid;
  border-color: var(--black);
  border-width: 0.2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
  width: 100%;
}

.formAdd__item {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.formAdd__item--slots {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.slots__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slots__selected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
}

.formAdd__item--label {
  font-weight: 500;
}

.formAdd__item--input {
  border: solid;
  border-color: grey;
  height: 2.5rem;
  width: 25rem;
}

.formAdd__item--inputFile {
  font-size: 1.2rem;
}

.formAdd__button {
  margin-top: 1rem;
}

@media screen and (width < 600px) {
  .processor__formAdd {
    font-size: 1rem;
    width: 80%;
  }

  .formAdd__title {
    font-size: 1rem;
  }

  .formAdd__item,
  .formAdd__item--slots {
    margin: 0.5rem;
    width: 90%;
  }

  .slots__container {
    display: flex;
    flex-direction: column;
  }

  .formAdd__item--input {
    height: 2rem;
    width: 10rem;
  }

  .formAdd__item--inputFile {
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
}
