.login__form {
  border: solid;
  border-color: var(--green);
  border-width: 0.2rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.2rem;
  align-items: center;
  display: grid;
  grid-template:
    'title title' auto
    '. . ' 2rem
    'name nameInput' auto
    '. .' 2rem
    'password passwordInput' auto
    '. . ' 2rem
    'button button'
    / 1fr 2fr;
}

.form__title {
  grid-area: title;
  border-bottom: solid;
  border-color: var(--black);
  border-width: 0.2rem;
  font-size: 2rem;
  margin: 0;
}

.form__name {
  grid-area: name;
}

.form__name--input {
  grid-area: nameInput;
  border: solid;
  border-color: grey;
  height: 2.5rem;
}

.form__password {
  grid-area: password;
}

.form__password--input {
  grid-area: passwordInput;
  border: solid;
  border-color: grey;
  height: 2.5rem;
}

.form__button {
  grid-area: button;
  height: 3rem;
  width: 9rem;
  font-size: 2.5rem;
  align-self: center;
  justify-self: center;
}

@media screen and (width >= 1000px) {
  .login__form {
    margin: 3rem 30rem;
    display: grid;
    grid-template:
      'title title' 5rem
      '. .' 2rem
      'name nameInput' auto
      '. .' 2rem
      'password passwordInput' auto
      '. .' 3rem
      'button button'
      / 1fr 1fr;
    font-size: 2.5rem;
  }

  .form__title {
    font-size: 2.8rem;
  }

  .form__name--input {
    margin-right: 3rem;
  }

  .form__password--input {
    margin-right: 3rem;
  }

  .form__button {
    height: 3rem;
    width: 9rem;
    font-size: 1.5rem;
  }
}

@media screen and (width >= 1000px) and (width<=1400px) {
  .login__form {
    margin: 3rem 10rem;
  }
}
