.main__types--item {
  border: solid;
  border-color: var(--green);
  border-width: 0.1rem;
  background-color: var(--dark-green);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 10rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
}

.item__title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.item__img {
  min-height: 6rem;
  width: 8rem;
  object-fit: fill;
}

@media screen and (width >= 1000px) {
  .main__types--item {
    height: 23rem;
    width: 23rem;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
  }

  .item__img {
    height: 20rem;
    width: 20rem;
  }

  .item__title {
    margin: 1rem;
    font-size: 2rem;
  }
}
