.filters {
  border: solid;
  border-color: var(--white);
  border-width: 0.1rem;
  margin: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: fit-content;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

.filters__title {
  font-size: 1.5rem;
  border-bottom: solid;
  border-color: var(--green);
  border-width: 0.2rem;
  margin: 1rem 0;
  width: 96%;
  padding-bottom: 0.5rem;
}

.filters__text,
.filters__slider,
.filters__checkbox {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: start;
}

.text__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.text__input {
  background-color: var(--white);
  border: solid;
  border-color: grey;
  height: 2.5rem;
  width: 100%;
}

.slider__title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.checkbox__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.filters__button {
  width: 5rem;
  height: auto;
  margin-bottom: 1rem;
}

@media screen and (width < 600px) {
  .filters {
    margin: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
  }

  .filter__title {
    font-size: 1.2rem;
  }

  .text__title {
    font-size: 1rem;
  }

  .text__input {
    height: 2rem;
  }

  .slider__title {
    font-size: 1rem;
  }

  .checkbox__title {
    font-size: 1rem;
  }

  .filters__button {
    width: 5rem;
    height: auto;
  }
}
