.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  color: var(--white);
  justify-content: space-between;
  margin-top: auto;
}

.footer__moto {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-content: center;
  width: 15rem;
}

.moto__text {
  margin: 0;
}

.footer__logo {
  height: 4rem;
  width: auto;
  align-self: center;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-content: center;
  width: 15rem;
}

.contact__title {
  margin-top: 0;
}

@media screen and (width < 600px) {
  .footer {
    font-size: 0.5rem;
  }

  .footer__moto {
    margin: 0.5rem;
  }

  .footer__logo {
    height: 2rem;
  }

  .footer__contact {
    margin: 0.5rem;
  }
}
