.summary {
  margin: 0 10rem;
}

.summary__title {
  font-size: 3rem;
  border-bottom: solid;
  border-color: var(--green);
  margin: 2rem 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.summary__build {
  display: flex;
  flex-direction: column;
  margin: 3rem 15rem;
  background-color: var(--white);
  color: var(--black);
  padding-top: 1rem;
}

.build__part {
  margin: 1rem 5rem;
  padding-bottom: 1rem;
  border-bottom: solid;
  border-color: var(--black);
  display: grid;
  grid-template:
    'title title title' auto
    'img . name' auto
    'img . manufacturer' auto
    'img . price' auto
    / 1fr 5rem 1fr;
  font-size: 1rem;
  justify-items: start;
  align-items: center;
}

.part__title {
  justify-self: center;
  grid-area: title;
  font-size: 2rem;
  margin: 0.5rem;
}

.part__info {
  font-weight: bold;
  font-size: 1.2rem;
}

.part__name {
  grid-area: name;
}

.part__manufacturer {
  grid-area: manufacturer;
}

.part__price {
  grid-area: price;
}

.part__name,
.part__manufacturer,
.part__price {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 0.5rem;
}

.part__img {
  grid-area: img;
  height: 8rem;
  width: auto;
  justify-self: end;
}

.build__price {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (width < 600px) {
  .summary {
    margin: 0 1rem;
  }

  .summary__title {
    font-size: 1.7rem;
    margin: 0.5rem 0;
  }

  .summary__build {
    margin: 1rem 1rem;
    padding-top: 0.5rem;
  }

  .build__part {
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    grid-template:
      'title title title' auto
      'img . name' auto
      'img . manufacturer' auto
      'img . price' auto
      / 1fr 2rem 2fr;
  }

  .part__title {
    font-size: 1rem;
    margin: 0.25rem;
  }

  .part__info {
    font-size: 0.9rem;
  }

  .part__name,
  .part__manufacturer,
  .part__price {
    margin-bottom: 0.2rem;
  }

  .part__img {
    height: 4rem;
  }

  .build__price {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
