.presets {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 15rem;
}

.presets__title {
  font-size: 3rem;
  border-bottom: solid;
  border-color: var(--green);
  margin: 2rem 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.presets__list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, minmax(18rem, 1fr));
  grid-auto-rows: max-content;
  align-items: center;
  justify-content: space-between;
}

.preset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0;
  border: solid;
  border-color: var(--white);
  border-width: 0.2rem;
  padding: 1rem;
  background-color: grey;
  color: var(--black);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

.preset__name {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.preset__description {
  font-size: 1rem;
  font-style: italic;
}

@media screen and (width < 600px) {
  .presets {
    margin: 0 1rem;
  }

  .presets__title {
    font-size: 1.7rem;
    margin: 0.5rem 0;
  }

  .presets__list {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .preset {
    width: 80%;
    margin: 1rem 0;
  }

  .preset__name {
    font-size: 1rem;
  }

  .preset__description {
    font-size: 0.7rem;
  }
}
