.main__parts {
  display: flex;
  flex-direction: column;
  margin: 0 15rem;
}

.parts__title {
  font-size: 3rem;
  border-bottom: solid;
  border-color: var(--green);
  margin: 2rem 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.parts__container {
  display: flex;
  flex-direction: row;
}

.container__table {
  width: 100%;
  height: auto;
  border: solid;
  border-color: var(--white);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
  margin: 0 1rem 1rem 1rem;
}

.table__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (width < 600px) {
  .main__parts {
    margin: 0 1rem;
  }

  .parts__title {
    font-size: 1.7rem;
  }

  .parts__container {
    flex-direction: column;
  }

  .container__table {
    margin: 0.5rem 0.5rem 0.5rem 0;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
  }

  .table__cell {
    flex-direction: column;
    align-items: start;
  }
}
