:root {
  --black: #000000;
  --white: #ffffff;
  --green: rgb(1, 197, 33);
  --dark-green: rgb(94, 102, 94);

  font-family: Raleway, sans-serif;
}

a {
  color: var(--white);
  text-decoration: none;
}
body,
#root {
  height: 100vh;
  background-color: rgb(43, 43, 43);
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.main {
  height: 100vh;
  background-color: rgb(43, 43, 43);
  color: var(--white);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.main__title {
  margin: 1rem;
}

.main__types {
  display: grid;
  grid-template:
    'item item' 1fr
    'item item' 1fr
    / 1fr 1fr;
  border: solid;
  border-color: var(--white);
  border-width: 0.2rem;
  margin: 0rem 0.7rem 1rem 0.7rem;
  padding: 0;
  align-items: center;
}

.main__scratch {
  margin: 0 0.5rem 1rem 0.5rem;
  width: 15rem;
  height: auto;
  background-color: var(--dark-green);
  border: solid;
  border-color: var(--white);
  border-width: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
}

.scratch__title {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.scratch__img {
  height: 10rem;
  width: 10rem;
}

.main__add {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid;
  border-color: var(--white);
  border-width: 0.2rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

@media screen and (width >= 1000px) {
  .main__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 5rem 3rem 5rem;
  }

  .main__scratch {
    margin: 1rem 5rem 3rem 5rem;
    width: 30rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
  }

  .scratch__title {
    margin: 1rem;
    font-size: 2rem;
  }

  .scratch__img {
    height: 20rem;
    width: 20rem;
  }

  .main__add {
    margin: 1rem 10rem;
  }
}
