.header {
  background-color: var(--black);
}

.header__row {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.row__logo {
  height: 4rem;
  width: auto;
  margin: 0.5rem 4rem;
}
.parts {
  display: flex;
  align-items: center;
}

@media screen and (width >= 1000px) {
  .header__row {
    flex-direction: row;
    padding: 0.5rem 2rem;
  }
}
