.addConfig {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 1rem;
}

.addConfig__title {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  border-bottom: solid;
  border-color: var(--green);
  width: 100%;
  padding-bottom: 0.5rem;
}

.addConfig__form {
  border: solid;
  border-color: var(--green);
  border-width: 0.2rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.2rem;
  align-items: center;
  display: grid;
  grid-template:
    'name nameInput' auto
    '. .' 2rem
    'description descriptionInput' auto
    '. . ' 2rem
    'button button'
    / 1fr 2fr;
}

.form__name {
  grid-area: name;
}

.form__name--input {
  grid-area: nameInput;
  border: solid;
  border-color: grey;
  height: 2.5rem;
}

.form__description {
  grid-area: description;
}

.form__description--input {
  grid-area: descriptionInput;
  border: solid;
  border-color: grey;
  height: 2.5rem;
}

.form__button {
  grid-area: button;
  height: 3rem;
  width: 9rem;
  font-size: 2.5rem;
  align-self: center;
  justify-self: center;
}

@media screen and (width >= 1000px) {
  .addConfig {
    margin: 0 15rem;
  }

  .addConfig__title {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .addConfig__form {
    margin: 3rem 30rem;
    padding-top: 3rem;
    display: grid;
    grid-template:
      'name nameInput' auto
      '. .' 2rem
      'description descriptionInput' auto
      '. .' 3rem
      'button button'
      / 1fr 1fr;
    font-size: 2.5rem;
    width: 80%;
  }

  .form__title {
    font-size: 2.8rem;
  }

  .form__name--input {
    margin-right: 3rem;
  }

  .form__description--input {
    margin-right: 3rem;
  }

  .form__button {
    height: 3rem;
    width: 9rem;
    font-size: 1.5rem;
  }
}
