.manage {
  border: solid;
  border-color: var(--green);
  border-width: 0.1rem;
  background-color: var(--dark-green);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 10rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
}

.manage__title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.manage__img {
  min-height: 6rem;
  width: 8rem;
  object-fit: fill;
}

.manage__buttons {
  display: flex;
  flex-direction: row;
}

.manage__buttons--item {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (width >= 1000px) {
  .manage {
    margin: 2rem;
    width: 38rem;
  }

  .manage__title {
    margin: 1rem;
    font-size: 2rem;
  }

  .manage__img {
    height: 25rem;
    width: 35rem;
  }

  .manage__buttons {
    display: flex;
    flex-direction: row;
  }

  .manage__buttons--item {
    height: 3rem;
    width: 3rem;
  }
}
