.config {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 15rem;
}

.config__title {
  font-size: 3rem;
  border-bottom: solid;
  border-color: var(--green);
  margin: 2rem 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.config__part {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: var(--white);
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background-color: var(--dark-green);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

.part__title {
  font-size: 1.5rem;
}

.part__selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--black);
  font-weight: bold;
}

.selected__name {
  margin: 0.3rem;
  font-weight: 800;
}

.selected__manufacturer,
.selected__price {
  margin: 0.3rem;
}

.config__price {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: solid;
  border-color: var(--green);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
}

@media screen and (width < 600px) {
  .config {
    margin: 0 1rem;
  }

  .config__title {
    font-size: 1.7rem;
    margin: 0.5rem 0;
  }

  .config__part {
    padding: 0.5rem 0.5rem;
    width: 95%;
    margin: 0.5rem 0;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--black);
  }

  .part__title {
    font-size: 0.8rem;
  }

  .part__selected {
    width: 70%;
    font-size: 0.6rem;
  }

  .config__price {
    font-size: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black);
  }
}
